header {
  text-align: center;
  background: red;
}

.title {
  text-align: center;
}

.gris {
  color: gray;
}

.verde {
  color: #008000;
}

.amarillo {
  color: yellow;
}

body {
  background-color: pink;

}


/*
div{
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  background: gray;
  color: white;
}

form {
  text-align: center;
}
